/********路由被选中后的颜色*******/
.router-link-active
  font-weight: 700
  color: chartreuse !important


/***** 超出部分以....的形式显示*****/
.overflow-other
  overflow : hidden
  text-overflow : ellipsis
  white-space : normal

.music-name
  height: 100%
.music-songer, .music-zhuanji
  height: 100%
