/******************************************   屏幕小于525px（手机）   ******************** */
@media screen and (max-width:525px)
  /***********歌单和歌词***********/
  .vue-router
    width: 100%
  .lrc
    display: none

  /************歌单头部**************/
  .music-name
    width: calc(60% - 50px)
  .music-songer
    width: 40%
  .music-zhuanji
    display: none !important

  /*       ---------全局的----------       */
  .change
    height: calc(100% - 100px)
  .music-bottom
    height: 100px


  /********底部控制区*******/
  .control-btn
    width: 100%
    height: 60px
  .control-process
    width: 100%
    height: 40px
    padding: 1px 10px
  .process
    margin-top: 28px

/**********内容区域滚动条设置********/
.content-wrapper
  overflow: hidden

 /*音乐馆图片*/
//.tolist-item
//  width: 33%


/* ****************************   屏幕大于526px小于767px    *****************************  */
@media screen and  (min-width:526px) and (max-width:767px)
  /***********歌单和歌词***********/
  .vue-router
    width: 100%
  .lrc
    display: none

  /************歌单头部**************/
  .music-name
    width: calc(50% - 50px)
  .music-songer, .music-zhuanji
    width: 24%

  /*       ---------全局的----------       */
  .change
    height: calc(100% - 60px)
  .music-bottom
    height: 60px

  /********底部控制区*******/
  .control-btn
    width: 200px
    height: 100%
  .control-process
    width: calc(100% - 200px)
    height: 100%
    padding: 8px 10px
  .process
    margin-top: 35px
/**********内容区域滚动条设置********/
  .content-wrapper
    overflow: auto

///*音乐馆图片*/
//.tolist-item
//  width: 33%

/**************************** *****   屏幕大于767px 小于924px      ************************/
@media screen and (min-width:767px) and (max-width:1024px)
  /***********歌单和歌词***********/
  .vue-router
    display : inline-block
    width: calc(100% - 300px)
  .lrc
    display: inline-block

  /************歌单头部**************/
  .music-name
    width: calc(50% - 50px)
  .music-songer, .music-zhuanji
    width: 24%

  /*       ---------全局的----------       */
  .change
    height: calc(100% - 60px)
  .music-bottom
    height: 60px

  /********底部控制区*******/
  .control-btn
    width: 200px
    height: 100%
  .control-process
    width: calc(100% - 200px)
    height: 100%
    padding: 8px 10px
  .process
    margin-top: 35px

/*音乐馆图片*/
//.tolist-item
//  width: 25%



  /****************************    屏幕大于924px     *************************** */
@media screen and (min-width:1025px)
  /***********歌单和歌词***********/
  .vue-router
    display : inline-block
    width: calc(100% - 300px)
  .lrc
    display: inline-block

  /************歌单头部**************/
  .music-name
    width: calc(50% - 50px)
  .music-songer, .music-zhuanji
    width: 24%

  /*       ---------全局的----------       */
  .change
    height: calc(100% - 60px)
  .music-bottom
    height: 60px

  /********底部控制区*******/
  .control-btn
    width: 200px
    height: 100%
  .control-process
    width: calc(100% - 200px)
    height: 100%
    padding: 8px 10px
  .process
    margin-top: 35px

/**********内容区域滚动条设置********/
.content-wrapper
  overflow: auto

/*音乐馆图片*/
//.tolist-item
//  width: 25%

